@import "../../scss/variables";
@import "../../scss/mixins";

.noise-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  pointer-events: none;

  background-image: url("/public/imgs/noise.webp");
  background-repeat: round;
  background-size: 200px;

  mix-blend-mode: multiply;
  opacity: 1;

  animation: noise-animation 1s infinite;
}

@keyframes noise-animation {
  0% {
    background-position: (random(1000) * 100%) (random(1000) * 100%);
  }
}
