@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

.button__topbar {
  height: 50px;
  width: 50px;

  top: 0;
  right: 0;
  position: absolute;
  z-index: 11;

  @include mq($bp-small-desktop) {
    display: none;
  }
}
.topbar {
  display: none;
  z-index: 10;
  justify-content: flex-end;
  align-items: center;
  color: white;

  @media screen and (min-width: 800px) {
    display: flex;
  }
  &--expanded {
    display: flex;
  }
}

.nav {
  width: 100%;
  height: 100%;
  top: 0;

  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 10; /*hacer un mapa de esto*/

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  list-style: none;
  text-align: center;
  background-color: $color-gray;

  @media screen and (min-width: 800px) {
    height: auto;
    top: auto;
    position: initial;
    flex-direction: row;
  }

  &__item {
    list-style: none;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    &:hover {
      color: $color-white;
      background-color: $color-blue-dark;
      transition: 500ms linear;
    }

    @include mq($bp-small-desktop) {
      display: flex;
    }
  }

  &__link {
    text-align: center;
    justify-content: center;

    text-decoration: none;
    text-transform: uppercase;
    font-size: $font-size-48;
    font-family: $font-secondary;
    font-weight: $font-weight-medium;

    color: $color-black;

    &:hover {
      color: $color-white;
    }

    @include mq($bp-small-desktop) {
      text-transform: uppercase;
    }
  }
}

/* adaptar esto bien en typography*/
ul {
  list-style-type: none;
  display: flex;
}
// .desktop-topbar {
//   display: none;
//   @include mq($bp-small-desktop) {
//     display: flex;
//     justify-content: flex-end;
//     align-items: center;
//   }
// }

// .desktop-nav {
//   align-content: space-around;
//   gap: 20px;

//   &__item {
//     display: flex;
//   }

//   &__link {
//     text-transform: uppercase;
//   }
// }
