@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';

.button__topbar {
    height: 50px;
    width: 50px;

    top: 0;
    right: 0;
    position: absolute;
    z-index: 11;

    @include mq($bp-small) {
        display: none;
    }
}
.topar {
    z-index: 10;
}

.nav {
    width: 100vw;
    height: 100vh;

    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 10; /*hacer un mapa de esto*/

    display: flex;
    flex-direction: column;
    justify-content: space-around;
   
    list-style: none;
    text-align: center;
    background-color: $color-gray;


    &__item {
        list-style: none;

        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
       


        &:hover {
            color: $color-white;
            background-color: $color-blue-dark;
            transition: 500ms linear;
        }
        
    }

    &__link {
        text-align: center;
        justify-content: center;

        text-decoration: none;
        text-transform: uppercase;
        font-size: $font-size-48;
        font-family:  $font-secondary;
        font-weight: $font-weight-medium;

        color: $color-black;

          
        &:hover {
            color: $color-white;
        }
    }
}