@import '../../scss/variables';

.section-hero {
    width: 100vw;
    height: 100vh;
    background-color: $color-black;
    color: white;

}

.blinkin-cursor {
    display: inline-block;
    user-select: none;
    animation: blink 1s steps(2, start) infinite;

}
@keyframes blink {
    to {
        visibility: hidden;
    }
}