@import '../../scss/variables';

.btn {
    text-decoration: none;
    cursor: pointer;
    padding: 12px 24px;
    background-color: $color-green;
    border: 2px black solid;
    margin: 0px;
    font-size: 12px;
    font-family: $font-primary;

    &-primary {
        background-color: $color-green;
    }
    &-secondary {
        background-color: $color-gray;
    }
    &-cta {
        background-color: $color-red;
    }
}