@import "../../scss/variables";
@import "../../scss/mixins";

.section-projects {
  margin: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  @include mq($bp-small-desktop) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
