@import "../../scss/variables.scss";

.ListView {
  box-sizing: border-box;
  border: $border;
  height: spacing(xxxl);
  display: flex;
  align-items: center;

  &:hover {
    background-color: $color-blue-dark;
    color: $color-white;
  }

  &__title {
    display: flex;
  }
}
