@import "../../scss/variables";
@import "../../scss/mixins";

.imagecard {
  display: flex;
  flex-direction: column;
  border: $border-style;

  @include mq($bp-tablet) {
  }

  &__bar {
    width: 100%;
    height: 30px;
    text-align: center;
    background-color: $color-white;
    border-bottom: $border-style;
    padding: 5px;
  }

  &__image {
    border-bottom: $border-style;
  }

  &__content {
    padding: spacing(s);
    &-title {
      margin-bottom: spacing(xs);
    }

    &-description {
      margin-bottom: spacing(xs);
    }

    &-actions {
      display: flex;
      justify-content: space-around;
    }
  }
}
