
/* Mediaqueries */

$bp-desktop:            90rem; //1440px
$bp-small-desktop:      64rem; //1024px
$bp-tablet:             48rem; //768px
$bp-small-tablet:       36rem; //576px

@mixin mq ($bp) {
        @media only screen and (min-width: $bp) {
            @content; 
        }
}