/* HEADERS */

h1, .h1 {
    margin: 0;
    font-family: $font-headers;
    font-size: $font-size-big-xxx  }
  
  h2, .h2 {
    margin: 0;
    font-family: $font-primary;
    font-size: $font-size-big-x }
  
  h3, .h3 {
    margin: 0;
    font-family: $font-primary;
    font-size: $font-size-big-xx;
  }
  
  h4, .h4 {
    margin: 0;
    font-family: $font-headers;
    font-size: $font-size-big-x;
  }
  
  h5, .h5 {
    margin: 0;
    font-family: $font-headers;
    font-size: $font-size-medium  }
  
  h6, .h6 {
    margin: 0;
    font-family: $font-headers;
    font-size: $font-size-medium  }


// Mirar como hacer mixin + mediaqueries
// fuente grande con sus mq, mediana con sus mq, pequeña con sus mq
// @mixin font-size($font-size: $font-medium) {
//     font-size: $font-size;
//     @include mq(medium) {
//         font-size: $font-size * 1.2;
//     }

    p {
        font-family: $font-primary;
    }