/* Color variables */

    $color-red: #FF0000;
    $color-green: #00FF00;
    $color-green-dark: #017f7e;
    $color-blue: #0000FF;
    $color-blue-dark: #000080;
    $color-yellow: #FFFF00;

    $color-white: #E7E7E7;
    $color-gray: #C0C0C0;
    $color-gray-dark: #4E4E4E;
    $color-black: #1D1D1D;

/* Typography variables */

    /*
    H1-5: font-family: 'Oswald', sans-serif;
    p: font-family: 'Roboto Mono', monospace;
    */

    /* Font Families */
    $font-primary: 'Roboto Mono', monospace;
    $font-secondary: 'Oswald', sans-serif;

    $font-headers: $font-secondary;
    
    // /* Font sizes */
    // $font-size-big: 18px;
    // $font-size-default: 16px;
    // $font-size-small: 14px;

    // $font-size-h1: $font-size-h1;
    // $font-size-h2: $font-size-h2;
    // $font-size-h3: $font-size-h3;
    // $font-size-h4: $font-size-h4;
    // $font-size-h5: $font-size-default;
    // $font-size-h6: $font-size-default;

    //tamaño de fuente sin contar encabezados 3: pequeña(disclaimer etc) regular y grande para destacar algo
    //los encabezados son tamaños de encabezado no de fuentes