/* COLOR variables */
    /* Accent colors */
    $color-red: #FF0000;
    $color-green: #00FF00;
    $color-blue: #0000FF;
    $color-yellow: #FFFF00;
    /* Colors */
    $color-green-dark: #017f7e;
    $color-blue-dark: #000080;
    /* Grayscale */
    $color-white: #E7E7E7;
    $color-gray: #C0C0C0;
    $color-gray-dark: #4E4E4E;
    $color-black: #1D1D1D;

/* Color variables for BACKGROUND COLOR */
    /* Colors */
    $background-color-green-dark: #017f7e;
    $background-color-blue-dark: #000080;
    /* Grayscale */
    $background-color-white: #E7E7E7;
    $background-color-gray: #C0C0C0;
    $background-color-gray-dark: #4E4E4E;
    $background-color-black: #1D1D1D;

/* ALL colors map */
    $color-palette: (
        "red": $color-red,
        "green": $color-green,
        "blue": $color-blue,
        "yellow": $color-yellow,

        "green-dark": $color-green-dark,
        "blue-dark": $color-blue-dark,

        "white": $color-white,
        "gray": $color-gray,
        "gray-dark": $color-gray-dark,
        "black": $color-black
    );

    @each $color, $i in $color-palette {
        .color-#{$color} {
            color: $i;
        }

        .color-bg-#{$color} {
            color: $i;
        }
    }

/* Typography variables */

    /*

    H1-5: font-family: 'Oswald', sans-serif;
    p: font-family: 'Roboto Mono', monospace;
    */

    /* Font Families 
    font-family: 'Roboto Mono', monospace;
    300 / 400 / 700
    font-family: 'Rubik', sans-serif;
    400 / 700 / 900 */
    $font-primary: 'Roboto Mono', monospace;
    $font-secondary: 'Rubik', sans-serif;

    $font-headers: $font-secondary;

    // $size-vars: (
	// 'small': 0.75, // 12px o 0.875 14px
	// 'medium': 1, // 16px
	// 'x-normal': 1.12, // 18px
	// 'big': 1.3, // 21px
	// 'x-big': 1.8, // 29px
	// 'xx-big': 2.4, // 32px
	// 'xxx-huge': 3.75, // 60px
    // 'huge': 6, // 96px
    // );
    
    /* Font sizes */
    $font-size-small: 12px;
    $font-size-medium: 16px;
    $font-size-big: 20px;
    $font-size-big-x: 40px;
    $font-size-big-xx: 60px;
    $font-size-big-xxx: 96px;
  

    // $font-size-h1: $font-size-h1;
    // $font-size-h2: $font-size-h2;
    // $font-size-h3: $font-size-h3;
    // $font-size-h4: $font-size-h4;
    // $font-size-h5: $font-size-default;
    // $font-size-h6: $font-size-default;

    //tamaño de fuente sin contar encabezados 3: pequeña(disclaimer etc) regular y grande para destacar algo
    //los encabezados son tamaños de encabezado no de fuentes


    /* Decoration */
    /* Border Styles */
    $border-style: 3px solid $color-black;
    $border: $border-style;