/* Color variables */
    /* Accent colors */
    $color-red: #FF0000;
    $color-green: #00FF00;
    $color-blue: #0000FF;
    $color-yellow: #FFFF00;
    /* Colors */
    $color-green-dark: #017f7e;
    $color-blue-dark: #000080;
    /* Grayscale */
    $color-white: #E7E7E7;
    $color-gray: #C0C0C0;
    $color-gray-dark: #4E4E4E;
    $color-black: #1D1D1D;

/* Colors map */
    $color-palette: (
        "color-red": #FF0000,
        "color-green": #00FF00,
        "color-blue": #0000FF,
        "color-yellow": #FFFF00,

        "color-green-dark": #017f7e,
        "color-blue-dark": #000080,

        "color-white": #E7E7E7,
        "color-gray": #C0C0C0,
        "color-gray-dark": #4E4E4E,
        "color-black": #1D1D1D
    );

/* Typography variables */

    /*

    H1-5: font-family: 'Oswald', sans-serif;
    p: font-family: 'Roboto Mono', monospace;
    */

    /* Font Families 
    font-family: 'Roboto Mono', monospace;
    300 / 400 / 700
    font-family: 'Rubik', sans-serif;
    400 / 700 / 900 */
    $font-primary: 'Roboto Mono', monospace;
    $font-secondary: 'Rubik', sans-serif;

    $font-headers: $font-secondary;
    
    // /* Font sizes */
    // $font-size-big: 18px;
    // $font-size-default: 16px;
    // $font-size-small: 14px;

    // $font-size-h1: $font-size-h1;
    // $font-size-h2: $font-size-h2;
    // $font-size-h3: $font-size-h3;
    // $font-size-h4: $font-size-h4;
    // $font-size-h5: $font-size-default;
    // $font-size-h6: $font-size-default;

    //tamaño de fuente sin contar encabezados 3: pequeña(disclaimer etc) regular y grande para destacar algo
    //los encabezados son tamaños de encabezado no de fuentes


    /* Decoration */
    /* Border Styles */
    $border-style: 3px solid $color-black;
    $border: $border-style;