@import "../../scss/variables";
@import "../../scss/mixins";

// .aboutMe__container {
//   border: $border;
// }

.section-AboutMe {
  align-content: center;
  justify-content: center;
  &__content {
    // min-height: 500px;
    margin: spacing(m);

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    @include mq($bp-small-desktop) {
      margin: spacing(xxxl);
    }
    @include mq($bp-desktop) {
      margin: calc(spacing(xxxl) * 2);
      min-height: 500px;
    }
  }

  &__content-item {
    padding: spacing(m);
    background-color: $color-gray;
    border: $border;

    z-index: -1; /* has so stay under the absolute highlight*/

    &__title {
      margin-bottom: spacing(s);
    }

    &__text {
      align-self: center;
      justify-self: center;
    }
  }
}
